body {
	margin-top: 50px;
}

.footer {
    font-size: 10px;
	text-align: center;
	padding: 20px;
}

.tab-pane {
    padding: 10px;
}

.button-box {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
